<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu">
    <ul class="side-menu-list">
        <li class="grey ">
            <%= link_to(root_path) do %>
              <i class="font-icon font-icon-dashboard"></i>
              <span class="lbl">Inicio</span>
            <% end %>
        </li>
        <li class="purple with-sub">
            <span>
                <i class="font-icon font-icon-pencil"></i>
                <span class="lbl">Cursos</span>
            </span>
            <ul>
                <li><a href="chat-write.html"><span class="lbl">Mis Cursos</span></a></li>
                <li><a href="chat-index.html"><span class="lbl">Cursos Favoritos</span></a></li>
            </ul>
        </li>
        <li class="blue-dirty with-sub">
            <span>
                <i class="font-icon font-icon-doc"></i>
                <span class="lbl">Material de Clases</span>
            </span>
            <ul>
                <li><a href="chat-write.html"><span class="lbl">Mi Material</span></a></li>
                <li><a href="chat-index.html"><span class="lbl">Material Favorito</span></a></li>
                <li>
                    <%= link_to(new_document_path) do %>
                      <span class="lbl">Subir Material</span>
                    <% end %>
                </li>
            </ul>
        </li>
        <li class="green with-sub">
            <span>
                <i class="font-icon font-icon-comment"></i>
                <span class="lbl">Mensajes</span>
            </span>
            <ul>
                <li><a href="ui-form.html"><span class="lbl">Buzón</span></a></li>
                <li><a href="ui-buttons.html"><span class="lbl">Nuevo</span></a></li>
            </ul>
        </li>
</nav><!--.side-menu-->
