<div class="page-content">
  <section class="card card-blue">
    <header class="card-header">
      Últimos documentos
    </header>
    <div class="card-block">
      <p class="card-text">
        <div class="container-fluid">
          <div class="row">

            <% Document.last(6).reverse.each do |doc|  %>
            <div class="col-sm-2">
              <%= render :partial => "documents/documentcard", :locals => {:doc => doc} %>
            </div>
            <% end %>

          </div>
        </div>
      </p>
    </div>
  </section>

  <section class="card card-blue">
    <header class="card-header">
      Documentos destacados
    </header>
    <div class="card-block">
      <p class="card-text">
        <div class="container-fluid">
          <div class="row">

            <% Document.getRanking.last(6).reverse.each do |doc|  %>
            <div class="col-sm-2">
              <%= render :partial => "documents/documentcard", :locals => {:doc => doc} %>
            </div>
            <% end %>

          </div>
        </div>
      </p>
    </div>
  </section>
</div>
