<div class="page-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-10">
					<section class="box-typical steps-icon-block">
						<div class="steps-icon-progress">
							<ul class="steps">
								<li class="active">
									<div class="icon">
										<i class="font-icon font-icon-cart-2"></i>
									</div>
									<div class="caption">Archivo</div>
								</li>
								<li>
									<div class="icon">
										<i class="font-icon font-icon-pin-2"></i>
									</div>
									<div class="caption">Detalles</div>
								</li>
								<li>
									<div class="icon">
										<i class="font-icon font-icon-card"></i>
									</div>
									<div class="caption">Descripción</div>
								</li>
								<li>
									<div class="icon">
										<i class="font-icon font-icon-check-bird"></i>
									</div>
									<div class="caption">Confirmación</div>
								</li>
							</ul>
						</div>
						<div/>
							<%= render :partial => "documents/form" %>
						</div>
					</section><!--.steps-icon-block-->
				</div>
			</div>
		</div><!--.row-->
	</div><!--.container-fluid-->
</div><!--.page-content-->
