<div class="page-content">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <section class="box-typical">
        <img src="../app/assets/images/pdf_icon.png"/>
        <button class="btn btn-rounded" type="button" name="button">Descargar</button> <br>
        Creador: Juan Pérez
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              % Likes
            </div>
            <div class="col-sm-6">
              nº Comentarios
            </div>
          </div>
        </div>
        Tags <br>
        Niveles <br>
        Asignaturas
      </div>
      </section>

    <div class="col-sm-9">
      <section class="box-typical">
        <header class="box-typical-header-sm">Descripción</header>
        <p class="document-info-item">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </section>
      <section class="box-typical">
        <div class="form-control-wrapper form-control-icon-left">
			       <input type="text" class="form-control" placeholder="Left">
			       <i class="fa fa-youtube-play"></i>
				</div>
        <textarea rows="4" class="form-control" placeholder="Ingresa un comentario" data-autosize="" style="overflow: hidden; word-wrap: break-word; height: 110px;"></textarea>
      </section>
      <section class="box-typical">
        Comentario 1 <br>
        Comentario 2 <br>
        Comentario 3 <br>
      </section>

    </div>
  </div>
</div>
</div>
<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
