<div class="page-content">
	<section class="card card-blue">
		<% @subjects.each do |subject| %>
		<header class="card-header">
			<%= subject.name %>
		</header>
		<div class="card-block">
			<p class="card-text">
				<div class="container-fluid">
					<div class="row">
						<% Document.includes(:subjects).where('subjects.id' => subject.id).collect do |doc|  %>
						<div class="col-sm-2">
							<%= render :partial => "documents/documentcard", :locals => {:doc => doc} %>
						</div>
						<% end %>

					</div>
				</div>
			</p>
		</div>
		<% end %>
	</section>
</div>
