<div class="page-content">
  <%if @levels.count > 0%>

	<section class="card card-blue">
		<% @levels.each do |levels| %>
		<header class="card-header">
			<%= levels.name %>
		</header>
		<div class="card-block">
			<p class="card-text">
				<div class="container-fluid">
					<div class="row">
						<% Document.includes(:levels).where('levels.id' => levels.id).collect do |doc|  %>
						<div class="col-sm-2">
							<%= render :partial => "documents/documentcard", :locals => {:doc => doc} %>
						</div>
						<% end %>

					</div>
				</div>
			</p>
		</div>
		<% end %>
	</section>

  <%else%>
      <section class="box-typical box-typical-padding">
        <h3 class="with-border">No tienes cursos favoritos</h3>
        <%=link_to edit_teacher_path(current_teacher), id: 'notie-success', class:'btn btn-success', type: 'button' do %>
            Agregar nuevos
        <%end%>
      </section>
  <%end%>
</div>
