<div class="page-content">
	<div class="container-fluid">
		<section class="box-typical">
			<div id="toolbar">
				Material para <b><%= @category.name %></b>
			</div>
			<div class="table-responsive">
				<table id="table"
					   class="table table-striped"
					   data-toolbar="#toolbar"
					   data-search="true"
					   data-minimum-count-columns="2"
					   data-show-pagination-switch="true"
					   data-pagination="true"
					   data-id-field="id"
					   data-page-list="[10, 25, 50, 100, ALL]"
					   data-show-footer="false"
					   data-locale="es-CL">
				</table>
			</div>
		</section><!--.box-typical-->
	</div><!--.container-fluid-->
</div><!--.page-content-->
