//= template/head.html
//= template/head-end.html
<body class="with-side-menu">

	//= template/header.html

	//= template/side-menu.html

	<div class="page-content">
		<div class="container-fluid">
			<img src="/assets/avatar1256.png" alt="">
			<img src="/assets/avatar1128.png" alt="">
			<img src="/assets/avatar164.png" alt="">
			<img src="/assets/avatar148.png" alt="">
			<img src="/assets/avatar132.png" alt="">
		</div><!--.container-fluid-->
		<br/>
		<div class="container-fluid">
			<img src="/assets/avatar2256.png" alt="">
			<img src="/assets/avatar2128.png" alt="">
			<img src="/assets/avatar264.png" alt="">
			<img src="/assets/avatar248.png" alt="">
			<img src="/assets/avatar232.png" alt="">
		</div><!--.container-fluid-->
		<br/>
		<div class="container-fluid">
			<img src="/assets/avatar3256.png" alt="">
			<img src="/assets/avatar3128.png" alt="">
			<img src="/assets/avatar364.png" alt="">
			<img src="/assets/avatar348.png" alt="">
			<img src="/assets/avatar332.png" alt="">
		</div><!--.container-fluid-->
	</div><!--.page-content-->

	//= template/modal-upload-1.html

	//= template/modal-upload-2.html

	//= template/footer.html

//= template/foot.html



