//= template/head.html
	<script src="js/lib/bootstrap-table/bootstrap-table.js"></script>
	<script src="js/lib/bootstrap-table/bootstrap-table-reorder-rows.min.js"></script>
	<script src="js/lib/bootstrap-table/jquery.tablednd.js"></script>
	<script src="js/lib/bootstrap-table/bootstrap-table-reorder-rows-init.js"></script>
	<link rel="stylesheet" href="css/lib/bootstrap-table/bootstrap-table.min.css">
	<link rel="stylesheet" href="css/lib/bootstrap-table/bootstrap-table-reorder-rows.css">
//= template/head-end.html
<body class="with-side-menu">

	//= template/header.html

	//= template/side-menu.html

	<div class="page-content">
		<div class="container-fluid">

			<section class="box-typical">
				<div id="toolbar">
					Reorder rows
				</div>
				<div class="table-responsive">
					<table id="table"
						   data-pagination="true"
						   data-search="true"
						   data-use-row-attr-func="true"
						   data-reorderable-rows="true"
						   data-toolbar="#toolbar">
						<thead>
						<tr>
							<th data-field="id" data-sortable="true">ID</th>
							<th data-field="name" data-sortable="true">Item Name</th>
							<th data-field="price" data-sortable="true">Item Price</th>
						</tr>
						</thead>
					</table>
				</div>
			</section><!--.box-typical-->

		</div><!--.container-fluid-->
	</div><!--.page-content-->

	//= template/footer.html

//= template/foot.html



