//= template/head.html
	<script src="js/lib/summernote/summernote.min.js"></script>
	<link rel="stylesheet" href="css/lib/summernote/summernote.css"/>
//= template/head-end.html
<body class="with-side-menu">

	//= template/header.html

	//= template/side-menu.html

	<div class="page-content">
		<div class="container-fluid">
			<section class="box-typical box-typical-padding">
				<h3 class="with-border">Summernote</h3>
				<div class="summernote-theme-1">
					<div class="summernote">Hello Summernote</div>
				</div>
				<div class="summernote-theme-2">
					<div class="summernote">Hello Summernote</div>
				</div>
				<div class="summernote-theme-3">
					<div class="summernote">Hello Summernote</div>
				</div>
				<div class="summernote-theme-4">
					<div class="summernote">Hello Summernote</div>
				</div>
				<div class="summernote-theme-5">
					<div class="summernote">Hello Summernote</div>
				</div>
				<div class="summernote-theme-6">
					<div class="summernote">Hello Summernote</div>
				</div>
				<div class="summernote-theme-7">
					<div class="summernote">Hello Summernote</div>
				</div>
				<div class="summernote-theme-8">
					<div class="summernote">Hello Summernote</div>
				</div>
				<div class="summernote-theme-9">
					<div class="summernote">Hello Summernote</div>
				</div>
				<div class="summernote-theme-10">
					<div class="summernote">Hello Summernote</div>
				</div>
			</section>

			<script>
				$(document).ready(function() {
					$('.summernote').summernote();
				});
			</script>

		</div><!--.container-fluid-->
	</div><!--.page-content-->

	//= template/footer.html

//= template/foot.html



