//= template/head.html
//= template/head-end.html
<body class="with-side-menu">

	//= template/header.html

	//= template/side-menu.html

	<div class="page-content">
		<div class="container-fluid">
			<div class="box-typical box-typical-padding">
				<h4 class="with-border">Sweet Alert</h4>

				<div class="alert alert-success" role="alert">
					<p>
						SweetAlert automatically centers itself on the page and looks great no matter if you're using a desktop computer, mobile or tablet. <br> It's even highly customizeable, as you can see below!
					</p>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="card">
							<div class="card-header">
								Basic message
							</div>
							<div class="card-block">
								<p class="card-text">
									<button class="btn btn-primary swal-btn-basic">Try Alert!</button>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-header">
								Title with a text under
							</div>
							<div class="card-block">
								<p class="card-text">
									<button class="btn btn-primary swal-btn-text">Try Alert!</button>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-header">
								Success message!
							</div>
							<div class="card-block">
								<p class="card-text">
									<button class="btn btn-primary swal-btn-success">Try Alert!</button>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="card">
							<div class="card-header">
								Warning message
							</div>
							<div class="card-block">
								<p class="card-text">
									<button class="btn btn-primary swal-btn-warning">Try Alert!</button>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-header">
								Cancel message
							</div>
							<div class="card-block">
								<p class="card-text">
									<button class="btn btn-primary swal-btn-cancel">Try Alert!</button>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-header">
								Info message
							</div>
							<div class="card-block">
								<p class="card-text">
									<button class="btn btn-primary swal-btn-info">Try Alert!</button>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="card">
							<div class="card-header">
								Custom image message
							</div>
							<div class="card-block">
								<p class="card-text">
									<button class="btn btn-primary swal-btn-custom-img">Try Alert!</button>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div><!--.box-typical-->
		</div><!--.container-fluid-->
	</div><!--.page-content-->

	//= template/footer.html

//= template/foot.html



