//= template/head.html

	<script src="js/lib/clockpicker/bootstrap-clockpicker.min.js"></script>
	<script src="js/lib/clockpicker/bootstrap-clockpicker-init.js"></script>
	<link rel="stylesheet" href="css/lib/clockpicker/bootstrap-clockpicker.min.css">

//= template/head-end.html
<body class="with-side-menu">

	//= template/header.html

	//= template/side-menu.html

	<div class="page-content">
		<div class="container-fluid">
			<header class="section-header">
				<div class="tbl">
					<div class="tbl-row">
						<div class="tbl-cell">
							<h3>Datepicker</h3>
							<ol class="breadcrumb breadcrumb-simple">
								<li><a href="#">StartUI</a></li>
								<li><a href="#">Forms</a></li>
								<li class="active">Datepicker</li>
							</ol>
						</div>
					</div>
				</div>
			</header>

			<section class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<div class='input-group date datetimepicker-1'>
									<input type='text' class="form-control" />
								<span class="input-group-addon">
									<i class="font-icon font-icon-calend"></i>
								</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<div class='input-group date datetimepicker-2'>
									<input type='text' class="form-control" />
								<span class="input-group-addon">
									<i class="font-icon font-icon-clock"></i>
								</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<div class='input-group date datetimepicker-1'>
									<input type='text' class="form-control" />
								<span class="input-group-addon">
									<i class="font-icon font-icon-calend"></i>
								</span>
								</div>
							</div>
						</div>
					</div><!--.row-->

					<div class="row m-t-lg">
						<div class="col-md-4">
							<div class="form-group">
								<div class="input-group clockpicker" data-autoclose="true">
									<input type="text" class="form-control" value="09:32">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-time"></span>
							</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" class="form-control clockpicker" value="09:32">
							</div>
						</div>
					</div>
				</div>
			</section>
		</div><!--.container-fluid-->
	</div><!--.page-content-->

	//= template/footer.html

//= template/foot.html



